@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --pink: hsl(338, 70%, 55%);
    --salmon: hsl(10, 70%, 55%);
    --teal: hsl(183, 70%, 62%);
    --white: hsl(334, 7%, 95%);

    --background: #f5f5f4; /* Light theme background color */
    --text: #1c1917; /* Light theme text color */
    --primary: #e7e5e4; /* Light theme primary color */
    --secondary: #d6d3d1; /* Light theme secondary color */
    --border: #a8a29e; /* Light theme border color */
  }

  .dark {
    --background: #1e1e1e;
    --text: #e5e5e5;
    --primary: #575758;
    --secondary: #4e4e4e;
    --border: #cccccc;
  }
}
body::-webkit-scrollbar {
  width: 0;
}

body {
  scrollbar-width: none;
  background-blend-mode: multiply;
  min-block-size: 100dvh;
  display: grid;
  place-items: center;
}

pre {
  --selector: var(--pink);
  --property: var(--teal);
  --punctuation: var(--white);
  --undefined: var(--white);

  font-size: 3rem;
  font-weight: bold;
  color: var(--undefined);
  background: hsl(222, 45%, 7%);
  padding: 2rem;
  border-radius: 1rem;

  position: relative;

  transform-style: preserve-3d;
  transform: perspective(5000px) rotateY(var(--rotateX)) rotateX(var(--rotateY));
}

pre > * {
  text-shadow: 0 0 0.3em currentColor;
}

pre::before,
pre::after {
  content: "";
  position: absolute;
  border-radius: inherit;
}

/* shadow */
pre::before {
  inset: 0.75rem;
  border-radius: inherit;
  background: black;
  z-index: -1;
  transform: translateZ(-50px);
  filter: blur(15px);
  opacity: 0.5;
}

/* gradient thingy */
pre::after {
  z-index: -2;
  inset: -1rem;
  background: linear-gradient(-45deg, rgb(108, 108, 108), rgb(42, 42, 42));
  transform: translateZ(-50px);
}

.selector {
  color: var(--selector);
}

.property {
  color: var(--property);
}

.punctuation {
  color: var(--punctuation);
}

.property + .punctuation {
  color: var(--property);
}

.pre-container {
  position: relative;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

/* extras for CSS only */

.css-only pre {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  transition: transform 200ms ease-in-out;
}

.pre-container.css-only > div {
  z-index: 10;
  position: absolute;
  outline: 1px solid lime;
}

.pre-container.css-only > div:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  inset: 0;
}

.pre-container.css-only > div:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  inset: 0;
}

.pre-container.css-only > div:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  inset: 0;
}

.pre-container.css-only > div:nth-child(4) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  inset: 0;
}

.pre-container.css-only > div:nth-child(5) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  inset: 0;
}

.pre-container.css-only > div:nth-child(6) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  inset: 0;
}

.pre-container.css-only > div:nth-child(7) {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  inset: 0;
}

.pre-container.css-only > div:nth-child(8) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  inset: 0;
}

.pre-container.css-only > div:nth-child(9) {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  inset: 0;
}

.pre-container.css-only > div:nth-child(1):hover ~ pre {
  --rotateX: -25deg;
  --rotateY: 25deg;
}

.pre-container.css-only > div:nth-child(2):hover ~ pre {
  --rotateX: 0deg;
  --rotateY: 25deg;
}

.pre-container.css-only > div:nth-child(3):hover ~ pre {
  --rotateX: 25deg;
  --rotateY: 25deg;
}

.pre-container.css-only > div:nth-child(4):hover ~ pre {
  --rotateX: -25deg;
  --rotateY: 0deg;
}

.pre-container.css-only > div:nth-child(5):hover ~ pre {
  --rotateX: 0deg;
  --rotateY: 0deg;
}

.pre-container.css-only > div:nth-child(6):hover ~ pre {
  --rotateX: 25deg;
  --rotateY: 0deg;
}

.pre-container.css-only > div:nth-child(7):hover ~ pre {
  --rotateX: -25deg;
  --rotateY: -25deg;
}

.pre-container.css-only > div:nth-child(8):hover ~ pre {
  --rotateX: 0deg;
  --rotateY: -25deg;
}

.pre-container.css-only > div:nth-child(9):hover ~ pre {
  --rotateX: 25deg;
  --rotateY: -25deg;
}

.yt {
  position: fixed;
  bottom: 1.5rem;
  color: #bcbcbc;
}

/* Add this at the end of the file */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  scrollbar-width: none;
}

.markdown-content {
  @apply text-base leading-relaxed;
}

.markdown-content h1 {
  @apply mb-4 mt-6 text-3xl font-bold;
}

.markdown-content h2 {
  @apply mb-3 mt-5 text-2xl font-semibold;
}

.markdown-content h3 {
  @apply mb-2 mt-4 text-xl font-medium;
}

.markdown-content p {
  @apply mb-4;
}

.markdown-content ul,
.markdown-content ol {
  @apply mb-4 ml-8;
}

.markdown-content ul {
  @apply list-disc;
}

.markdown-content ol {
  @apply list-decimal;
}

.markdown-content li {
  @apply mb-2;
}
